[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "C++ template class for simulating dynamic systems, using Boost.odeint "
[access "refs/*"]
	owner = group user/Dale Lukas Peterson (hazelnusse)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dale Lukas Peterson (hazelnusse)
	label-Verified = -1..+1 group user/Dale Lukas Peterson (hazelnusse)
	push = group user/Dale Lukas Peterson (hazelnusse)
	read = group user/Dale Lukas Peterson (hazelnusse)
	rebase = group user/Dale Lukas Peterson (hazelnusse)
	removeReviewer = group user/Dale Lukas Peterson (hazelnusse)
	submit = group user/Dale Lukas Peterson (hazelnusse)
[access "refs/heads/*"]
	create = group user/Dale Lukas Peterson (hazelnusse)
	push = +force group user/Dale Lukas Peterson (hazelnusse)
	pushMerge = group user/Dale Lukas Peterson (hazelnusse)
	read = group user/Dale Lukas Peterson (hazelnusse)
[access "refs/tags/*"]
	push = group user/Dale Lukas Peterson (hazelnusse)
	push = +force group user/Dale Lukas Peterson (hazelnusse)
